scripts/MKW_Inputs/**/*.csv
scripts/MKW_Inputs/**/*.rkg
scripts/AGC_Data/**/*.agc
scripts/external/**/*.ini
scripts/Settings/**/*.ini
scripts/FrameDumps/**/*.txt
scripts/FrameDumps/**/*.ini
scripts/FrameDumps/**/*.mp4
scripts/FrameDumps/**/*.mp3
scripts/FrameDumps/**/*.wav
scripts/FrameDumps/**/*.png
scripts/FrameDumps/**
scripts/Data Dump/**
/scripts/Ghost/**/*.rkg
**/__pycache__
**/*test.py

scripts/RMC/test.py
scripts/RMC/test codecallbacl.py

/scripts/Input_optimizer
scripts/RMC/test tp lap.py
