scripts/MKW_Inputs/*.csv
scripts/MKW_Inputs/*.rkg
scripts/AGC_Data/**/*agc
scripts/Settings/**/*.ini
/scripts/Ghost/**/*.rkg
**/__pycache__
**/*test.py

scripts/RMC/test.py
scripts/RMC/test codecallbacl.py
